
<form method="post" action="{{ path('app_educational_etablissement_delete', {'id': educational_etablissement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ educational_etablissement.id) }}">
    <button class="btn">Delete</button>
</form>
